{% extends "carpooling/main.html" %}
{% block head %}
	<style>
		.profile-wrapper {
			display: flex;
			justify-content: space-between;
			padding: 4rem;
			padding-bottom: 100px;
			flex-direction: column;
		}
		
		.profile-nav {
			flex-basis: 30%;
			display: flex;
			justify-content: center;
			padding-top: 40px;
		}
		
		.profile-info {
			flex-basis: 70%;
			padding-top: 40px;
			padding-left: 40px;
		}
		
		.info-name {
			width: 170px;
			font-weight: bold;
		}
		
		.profile-nav-wrapper {
			text-align: center; 
			height: 280px; 
			width: 280px; 
			padding: 20px;
			box-shadow: 0px 7px 16px 0px rgb(0 0 0 / 29%);
			border-radius: 20px
		}
		
		.about {
			border-bottom: 1px solid grey; 
			padding-bottom: 5px; 
			margin: 40px 0; 
			font-weight: bold;
		}
		
		.info-header {
			display: flex; 
			margin-top: 40px; 
			justify-content: space-between; 
			width: 100%;
		}
		
		@media (min-width: 768px) {
			.profile-wrapper {
				flex-direction: row;
			}
			
			.info-header {
				width: 500px;
			}
		}
	</style>
{% endblock %}
{% block content %}


	<div class="profile-wrapper">
		<div class="profile-nav">
			<div class="profile-nav-wrapper">
				<img src="/static/images/baran.png?id=2" style="width: 150px; height: 150px; border-radius: 50%;" alt="profile-photo">
				<h2 style="font-weight: bold;">{{ context.user.username }}</h2>
				<a href="/reviews">See all your reviews</a>
			</div>
			
		</div>
		<div class="profile-info">
			<div style="display: flex; justify-content: space-between;">
				<h2>{{ context.user.username }} </h2>
			</div>
			<p style="color: blue;">Software Engineer</p>
			<h3 style="margin-top: 20px;">RATING </h3>
			<p> 
			   <span >4.5</span> 
			   <span><i class="fa fa-star fa-solid"></i></span>
			   <span><i class="fa fa-star fa-solid"></i></span> 
			   <span><i class="fa fa-star fa-solid"></i></span> 
			   <span><i class="fa fa-star fa-solid"></i></span> 
			   <span><i class="fa fa-star-half-alt"></i></span>
			  </p>
			
			<div class="about">About</div>
			<div class="info-header">
				<h3>CONTACT INFORMATION</h3>
				<a href="#">Edit</a>
			</div>
			<table>
				<tr>
					<td class="info-name">Phone:</td>
					<td>+1 982 2382 232</td>
				</tr>
				<tr>
					<td class="info-name">Email Address:</td>
					<td>{{ context.user.email }} </td>
				</tr>
				<tr>
					<td class="info-name">Zip Code:</td>
					<td>300104</td>
				</tr>
			</table>
			<div class="info-header" >
				<h3>BASIC INFORMATION</h3>
				<a href="#">Edit</a>
			</div>
			<table>
				<tr>
					<td class="info-name">Birthday:</td>
					<td>June 5, 1992</td>
				</tr>
				<tr>
					<td class="info-name">Gender:</td>
					<td>Male </td>
				</tr>
			</table>
			<div class="info-header" >
				<h3>VEHICLE INFORMATION</h3>
				<a href="#">Edit</a>
			</div>
			<table>
				<tr>
					<td class="info-name">Make:</td>
					<td>{{ context.vehicle.make }}</td>
				</tr>
				<tr>
					<td class="info-name">Model:</td>
					<td>{{ context.vehicle.model }}</td>
				</tr>
				<tr>
					<td class="info-name">Color:</td>
					<td>{{ context.vehicle.color }}</td>
				</tr>
				<tr>
					<td class="info-name">Plate Number:</td>
					<td>{{ context.vehicle.plate_number }}</td>
				</tr>
				<tr>
					<td class="info-name">Driver's License:</td>
					<td>{{ context.vehicle.driver_license }}</td>
				</tr>
			</table>
		</div>
	</div>
{% endblock %}
