{% extends "carpooling/main.html" %}
{% block head %}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
	<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
{% endblock %}
{% block content %}
<div class="body">
	<div>
		<div class="search-wrapper">
			<input type="search" name="destination" class="destination"/>
			<ul class="locations">
			<ul>
		</div>
	</div>

	<div id="map" style="width: 100%; height: 80vh"></div>
	<div class="match"></div>
	<div class="results" style="margin-bottom: 100px;"></div>
</div>

<script>
	const searchInput = document.querySelector(".destination");
	const locations = document.querySelector(".locations");
	const locationItems = document.querySelectorAll(".location");
	let marker, circle, zoomed, dMarker, endLon, endLat, startLat, startLon, accuracy, polyline
	let currenRroute, currentDest, current_location;
	// Initializes map
	const map = L.map('map', {
    		zoom: 16
	}); 

	// Sets initial coordinates and zoom level
	map.setView([51.505, -0.09], 16);

	// Sets map data source and associates with map
	L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    		maxZoom: 19,
    		attribution: '© OpenStreetMap'
	}).addTo(map);
	function drawRoute(startLat, startLon, endLat, endLon) {
		fetch('https://router.project-osrm.org/route/v1/driving/' + startLon + ',' + startLat + ';' + endLon + ',' + endLat + '?geometries=geojson')
    			.then(function (response) {
        			return response.json();
    			})
    			.then(function (json) {
        			// Parse the response and create a LatLng array for the route
        			const route = json.routes[0];
        			const lineString = route.geometry;
        			let latLngs = [];
        			currentRoute = []
        			for (var i = 0; i < lineString.coordinates.length; i++) {
            				latLngs.push(L.latLng(lineString.coordinates[i][1], lineString.coordinates[i][0]));
            				currentRoute.push([lineString.coordinates[i][1], lineString.coordinates[i][0]]);
        			}

        			// Add the route to the map
        			if (marker) {
					map.removeLayer(marker);
        				map.removeLayer(circle);
    				}
    				
    				if (dMarker) {
    					map.removeLayer(dMarker);
    				}
    				
    				if (polyline) {
    					map.removeLayer(polyline);
    				}
    				
    				// Add new markers and circle
    				marker = L.marker([startLat, startLon]).addTo(map);
    				circle = L.circle([startLat, startLon], { radius: accuracy }).addTo(map);
    				dMarker = L.marker([endLat, endLon]).addTo(map);
        			polyline = L.polyline(latLngs, {color: 'red'}).addTo(map);
        			
        			// Insert the find match button
        			const matchEl = document.querySelector(".match");
        			matchEl.innerHTML = `<button class="match-btn">Find Match</button>`
        			const matchBtn = document.querySelector(".match-btn");
        			matchBtn.addEventListener("click", (e) => {
        				matchBtn.innerHTML = `<div class='spinner'></div>`
        				fetch("/match/driver/", {
        					method: "POST",
        					headers: {
        						'Content-Type': 'application/json'
        					},
        					body: JSON.stringify({
        						route: currentRoute,
        						destination: currentDest,
        						location: current_location,
        						origin_lat: startLat,
        						origin_lon: startLon,
        						destination_lat: endLat,
        						destination_lon: endLon,
        					})
        				})
        				.then(res => {
        					if (res.status !== 200) {
        						throw new Error;
        					}
        					return res.json()
        				})
        				.then(data => {
        					const resultEl = document.querySelector(".results");
        					resultEl.innerHTML = "";
        					data = data.result;
        					if (data.length < 1) {
        						resultEl.innerHTML = "<div>No match found!</div>";
        						matchBtn.style.display = 'none';
        						return;
        					}
        					
        					for (let i = 0; i < data.length; i++) {
        						resultEl.innerHTML += `<div class="match-wrapper">
															<div><span>Username: </span>${data[i].username}</div>
															<div><span>Destination:</span> ${data[i].destination} </div>
															<div><span>Origin: </span>${data[i].origin} </div>
															<div><span>Match rate:</span> ${data[i].match_rate}%</div>
														</div>`
        					}
        					matchBtn.style.display = 'none';
        				})
        				.catch(error => {
        					console.log(error);
        					matchBtn.innerHTML = `Find Match`;
        				})
        			})
        			
    			});
	}
	
	function distance(lat1, lon1, lat2, lon2) {
		lat1 = parseFloat(lat1);
		lat2 = parseFloat(lat2);
		lon1 = parseFloat(lon1);
		lon2 = parseFloat(lon2);
  		const R = 6371; // radius of the earth in km
  		const dLat = (lat2 - lat1) * (Math.PI / 180);
  		const dLon = (lon2 - lon1) * (Math.PI / 180);
 		const a = Math.sin(dLat/2) * Math.sin(dLat/2) + Math.cos(lat1 * (Math.PI / 180)) * Math.cos(lat2 * (Math.PI / 180)) * Math.sin(dLon/2) * Math.sin(dLon/2);
  		const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
  		const d = R * c;
  		return d;
	}


	navigator.geolocation.watchPosition(success, error);

	function success(pos) {

		startLat = pos.coords.latitude;
		startLon = pos.coords.longitude;
		accuracy = pos.coords.accuracy;
		
		const url = `https://nominatim.openstreetmap.org/reverse?format=json&lat=${startLat}&lon=${startLon}`
		
		fetch(url)
		.then(res => {
			if (res.status == 200) {
				return res.json()
			}
			throw new Error;
		})
		.then(data => {
			current_location = data.display_name;
		})
		.catch(error => {
			console.log(error);
		})
		
		
		// Remove existing marker and circle
		if (marker) {
			map.removeLayer(marker);
        		map.removeLayer(circle);
    		}
    		
    		if (dMarker) {
    			map.removeLayer(dMarker);
    		}


    		marker = L.marker([startLat, startLon]).addTo(map);
    		circle = L.circle([startLat, startLon], { radius: accuracy }).addTo(map);

    		if (!zoomed) {
        		zoomed = map.fitBounds(circle.getBounds()); 
    		}

    		map.setView([startLat, startLon]);
    
		
		if (endLon && endLat) {
			drawRoute(startLat, startLon, endLat, endLon)
		}
	}
	
	function error(err) {
    		if (err.code === 1) {
        		alert("Please allow geolocation access");
    		} else {
        		alert("Cannot get current location");
   		}
	}


	searchInput.addEventListener("focus", ()=> {
		locations.style.display = "block";
		locations.innerHTML = "";
	})
	
	searchInput.addEventListener("blur", (e)=> {
		if (e.relatedTarget && !e.relatedTarget.classList.contains("destination")) {
			locations.style.display = "none";
		}	
	})
	
	searchInput.addEventListener("keyup", ()=> {
		const value = searchInput.value;
		if (value.length > 2) {
			locations.innerHTML = "";
			fetch(`https://nominatim.openstreetmap.org/search?q=${value}&format=json`)
    			.then(response => response.json())
    			.then(data => {
      				// Do something with the latitude and longitude
      				for (let i = 0; i < data.length; i++) {
      					d = distance(startLat, startLon, data[i].lat, data[i].lon);
      					locations.innerHTML  += `<li class="location" data-lat=${data[i].lat} data-lon=${data[i].lon} data-dest='${data[i].display_name}'><span class="l-span"><i class="fas fa-map-marker-alt icon"></i><span class="dist">${d.toFixed(2)}km</span></span>${data[i].display_name}</li>`
      				}
      				const locationItems = document.querySelectorAll(".location");
      				locationItems.forEach(item => {
					item.addEventListener('click', (e) => {
					endLon = e.target.getAttribute("data-lon");
					endLat = e.target.getAttribute("data-lat");
					currentDest = e.target.getAttribute("data-dest");
					locations.style.display = "none";
					searchInput.value = currentDest;
					drawRoute(startLat, startLon, endLat, endLon);
				})
	})
    			})
    			.catch(error => console.log(error));
		}
	})
	
</script>

{% endblock %}
