{% extends "carpooling/main.html" %}
{% block head %}
	<style>
	 	.reviews {
	 		margin: 30px auto; 
	 		border: 1px solid rgba(0, 0, 0, 0.2); 
	 		padding: 15px; border-radius: 5px; 
	 		box-shadow: 0px 7px 16px 0px rgb(0 0 0 / 29%);
	 		max-width: 800px;
	 	}
	</style>
{% endblock %}
{% block content %}
<ul class="body">
	{% for review in context.reviews %}
		<li class="reviews">
			<p>Review: {{ review.review }}</p>
			<p>By: {{ review.reviewer }}</p>
		</li>	
	{% endfor %}
</ul>
{% endblock %}
